<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../content/css/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_css_bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
    <link rel="stylesheet" href="../content/css/font-awesome.css">
    <title>Login</title>
</head>
<body>
    <div class="">
        <div class="ellips">
            <div class="txt-cnt">
                <div>Login Account <span><img src="../images/user.png" alt=""></span></div>
                <div>Welcome back </div>
            </div>
        </div>
        <div class="logn-in">
            <img src="../images/login-logo.png" alt="">
            <div class="app-nme">Chef App</div>
        </div>
        <form action="" class="login-form">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>
            <div class="form-floating mb-3 position-relative">
              <input type="password" class="form-control" id="password" placeholder="name@example.com">
              <label for="floatingInput">Password</label>
              <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password"></span>
            </div>
            
            
            <button class="login-btn">Login</button>
          </form>
    </div>
    <script src="../script/jquery-3.5.1.min.js"></script>
    <script src="../script/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_js_bootstrap.bundle.min.js"></script>

    <script>
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
        input.attr("type", "text");
        } else {
        input.attr("type", "password");
        }
        });
      </script>
</body>
</html>