<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../content/css/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_css_bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/style.css">
    <title>Chef App</title>
</head>
<body class="bg-white">
    <div class="ellips">
        <div class="txt-cnt">
            <div>Login Account <span><img src="../images/user.png" alt=""></span></div>
            <div>Welcome back</div>
        </div>
    </div>
    <div class="center-sec">
        <div>
            <div>
                <img src="../images/start-page/Group 1.png" width="200px" alt="">
            </div>
            <div class="chef-app">Chef App</div>
            <p class="fw-500">Unlock your culinary potential with Chef App! Seamlessly plan, cook, and manage your daily recipes. Your all-in-one kitchen companion for chefs of all levels.</p>
            <button class="com-btn-fix-bot">Let's Cook</button>
        </div>
    </div>
    <script src="../script/cdn.jsdelivr.net_npm_bootstrap@5.0.2_dist_js_bootstrap.bundle.min.js"></script>
</body>
</html>